<launch>

  <!-- Navigation requires at least one map.
       In addition, it is sometimes desirable to have a "keepout" map
       which is used for costmaps, but not localization -->
  <arg name="map_file" default="$(find fetch_maps)/maps/9_16_15.yaml" />
  <arg name="map_keepout_file" default="$(find fetch_maps)/maps/9_16_15_keepout.yaml" />
  <arg name="use_keepout" default="false" />

  <!-- Navigation parameter files -->
  <arg name="amcl_include" default="$(find fetch_navigation)/launch/include/amcl.launch.xml" />

  <!-- serve up a map -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- localize the robot -->
  <include file="$(arg amcl_include)" />

</launch>
