<launch>

  <arg name="map_file"       default="west_fetch.yaml" />
  <arg name="bag_file"       default="init_pose_testing.bag.yaml" />
  <arg name="amcl_config"    default="amcl.yaml" />
  <arg name="scan_topic"     default="base_scan" />
  <arg name="map_topic"      default="map" />
  <arg name="use_map_topic"  default="false" />

  <!-- Play bag file -->
  <param name="/use_sim_time" value="true"/>
  <node name="rosbag" pkg="rosbag" type="play" 
        args="-s 0.0 -d 5 -r 1 --clock --hz 10 $(arg bag_file)"/>

  <!-- Serve up a map -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Run AMCL -->
  <node pkg="amcl" type="amcl" name="amcl">
    <remap from="scan" to="$(arg scan_topic)" />
    <remap from="map" to="$(arg map_topic)" />
    <param name="use_map_topic"  value="$(arg use_map_topic)" />
    <rosparam file="$(arg amcl_config)" command="load" />
  </node>

</launch>
